# compiled outpit
/dist
/node_modules

#logs
logs
*.log
npm-debug.log*

#os
.DS_Store

# ide-vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#APP 忽略.env开头的文件
.env*